body{
    background-image: url(OIP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .adminsign-in{
    margin-top:60px;
    margin-left:24%;
    display:block;
  }
  .admin-card{
    border-radius: 10%;
    width:50%;
    padding:30px;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.5);
  }
  .admin-button{
    background-color: rgb(119, 32, 32);
  }
