h1{
    padding:20px;
    border:0;
    color: white;
    text-align: center;
    background-color:rgb(119, 32, 32);
    margin-bottom: 0%;
}
body{
    background-image: url('OIP.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.left{
    text-align: center;
    height:630px;
    width: 70%;
}

.options{
    margin-top: 50px;
    margin-left: 15%;
}
.dropdown button{
    margin-left: 10%;
    margin-top:10px;
    width: 65%;
    background-color:rgb(2, 117, 216);
}

