.navbar {
    height: 55px;
    background-color: rgb(119, 32, 32);
}
.jumbotron{
    height:590px;
    text-align:center;
    background-image: url(OIP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
